.avatar-container {
  position: relative;
}

.avatar {
  min-width: 134px;
  min-height: 134px;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--color-primary);
  border: 4px solid white;
  transform: translate(5px, 5px);
}

.avatar-background {
  min-width: 144px;
  min-height: 144px;
  border-radius: 50%;
  background-color: var(--color-primary);
}

.avatar-hash {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50%;
  background-color: var(--color-secondary);
  border: 4px solid white;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 28px;
}
