:root {
  --color-primary: #3A66D5;
  --color-secondary: #01A298;

  --font-header: 'Arial', sans-serif;
  --font-body: 'Georgia', serif;

  /* Bootstrap overrides */
  --bs-primary: #3A66D5;
  --bs-secondary: #01A298;
}

.btn {
  --bs-btn-padding-x: 40px;
  --bs-btn-padding-y: 12px;
  --bs-btn-border-radius: 4px
}

h1, h2, h3, h4, h5, h6, .font-header {
  font-family: var(--font-header);
}

body, p, span, .font-body {
  font-family: var(--font-body);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.btn-sm {
  --bs-btn-padding-y: 4px;
}

.btn-lg {
  --bs-btn-padding-y: 21px;
}

.btn-wide {
  --bs-btn-padding-x: 84px;
}

.btn-outline-dashed {
  border: 1px dashed var(--color-primary);
  background-color: transparent;
}