:root {
  --color-primary: #3A66D5;
  --color-primary-dark: #2A4C9B;
  --color-secondary: #01A298;
  --color-secondary-dark: #015751;
  --color-gray: #575757;

  --font-header: 'Arial', sans-serif;
  --font-body: 'Georgia', serif;

  /* Bootstrap overrides */
  --bs-primary: #3A66D5;
  --bs-secondary: #01A298;
}

.btn {
  --bs-btn-padding-x: 40px;
  --bs-btn-padding-y: 12px;
  --bs-btn-border-radius: 4px;
  --bs-btn-font-weight: 700;
  --bs-btn-font-family: var(--font-body);
}

.btn-secondary {
  --bs-btn-bg: var(--color-secondary);
  --bs-btn-color: white;
  --bs-btn-border-color: var(--color-secondary);
  --bs-btn-hover-bg: var(--color-secondary-dark);
}

h1, h2, h3, h4, h5, h6, .font-header {
  font-family: var(--font-header);
}

body, p, span, .font-body {
  font-family: var(--font-body);
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-gray {
  color: var(--color-gray);
}

.btn-sm {
  --bs-btn-padding-y: 4px;
}

.btn-lg {
  --bs-btn-padding-y: 21px;
}

.btn-wide {
  --bs-btn-padding-x: 84px;
}

.btn-outline-dashed {
  border: 1px dashed black;
  --bs-btn-color: var(--color-primary);
}

@media screen and (min-width: 576px) {
  .w-sm-75 {
    width: 75%!important;
  }
}